* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD:assets/extras/login.css
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
=======
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> b837485 (Se ajusto la interfaz del login):assets/extras/css/login.css
}

body,
html {
    height: 100%;
    overflow: hidden;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-fluid {
    display: flex;
    height: 100vh;
    padding: 0;
}

.derecha {
    width: 100%;
    height: 100vh;
}

.imagen-fondo img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.izquierda {
    display: flex;
    justify-content: center;
<<<<<<< HEAD:assets/extras/login.css
    align-items: center;
    height: 100vh;
    color: #000;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

.formulario {
    width: 500px;
    background: rgba(0, 0, 0, 0.15);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    text-align: center;
=======
    width: 100%;
    max-width: 920px;
    background: var(--bg-2);
    border-radius: 20px;
}

/* Parte izquierda */
.login-left {
    width: 60%;
    display: flex;
    flex-direction: column;
>>>>>>> b837485 (Se ajusto la interfaz del login):assets/extras/css/login.css
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-left img {
    width: 110px;
    padding: 10px;
    z-index: 3;
}

<<<<<<< HEAD:assets/extras/login.css
/* Logo */
.logo img {
    width: 200px;
=======
.logo {
    width: 180px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: absolute;
    top: -80px;
    left: 155px;
    background: linear-gradient(180deg, #4f46e5, #0d1f58);
    border-radius: 45%;
    z-index: 1;
}

.login-box {
    background: linear-gradient(180deg, #0d1f58, #4f46e5);
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    z-index: 2;
}

.login-box h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.input-group {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
>>>>>>> b837485 (Se ajusto la interfaz del login):assets/extras/css/login.css
    margin-bottom: 15px;
    display: flex;
}

/* Botones Ingresar / Registrar */
.campoBotones {
    background: #0A1D56;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 5px 25px auto;
}

.campoBotones button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-active {
    background: #0075F2;
    color: #fff;
}

.btn-inactive {
    background: transparent;
    border: 2px solid #0075F2;
    color: #fff;
}

.btn-inactive:hover {
    background: #0075F2;
    color: #fff;
}

/* Campos del formulario */
.formulario form {
    text-align: left;
}

.formulario label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #0A1D56;
}

.formulario input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    outline: none;
    font-size: 15px;
}

.formulario input:focus {
    background: rgba(255, 255, 255, 0.2);
}

/* Recuperar contraseña */
.recuperar {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #0A1D56;
    text-decoration: none;
    margin-bottom: 20px;
}

<<<<<<< HEAD:assets/extras/login.css
.recuperar:hover {
    text-decoration: underline;
}

/* Botón principal */
.btn-login {
    width: 50%;
    padding: 12px;
    background: #0075F2;
    border: none;
    border-radius: 25px;
    font-weight: bold;
=======
/* Parte derecha */
.login-right {
    width: 60%;
    justify-content: center;
>>>>>>> b837485 (Se ajusto la interfaz del login):assets/extras/css/login.css
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 25px auto;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    opacity: 0.9;
}